$background: rgb(6, 4, 36);
$fontColor: rgba(255, 255, 255, 0.664);
$myFont: Papyrus, sans-serif;
$size: 18px;
$height: 100vh;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $background;
    color: $fontColor;
    font: {
        family: $myFont;
        size: $size;
    }
}